<!DOCTYPE html>
<html>
<head>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<meta charset="utf-8">
<title>service</title>
</head>
<body>
  <div ng-app="service">
    <div ng-controller="url">
      <p>absUrl():{{myUrl}}</p>
      <p>url():{{myUrl1}}</p>
      <p>path():{{myUrl2}}</p>
      <p>protocol():{{myUrl3}}</p>
      <p>host():{{myUrl4}}</p>
      <p>port():{{myUrl5}}</p>
      <p>search():{{myUrl6}}</p>
      <p>hash():{{myUrl7}}</p>
    </div>

    <div ng-controller="http">
      <p>读取txt文件的结果<span style="border:2px blue solid">{{myResponse}}</span></p>
    </div>

    <div ng-controller="timeOut">
      <p>{{change}}</p>
    </div>

    <div ng-controller="interval">
      <p>{{time}}</p>
    </div>

    <div ng-controller="customize">
      <p>{{hex}}</p>
      <p>{{255 | format}}</p>
      <ol>
        <li ng-repeat = "x in numbers">{{x | format}}</li>
    </ol>
    </div>

    <div ng-controller="watch">
      姓：<input type="text" ng-model="lastName">
      名：<input type="text" ng-model="firstName">
      <p>{{fullName}}</p>
    </div>

  </div>

  <script>
    var app = angular.module("service",[]);
    app.controller("url",function($scope,$location){
      $scope.myUrl = $location.absUrl();
      $scope.myUrl1 = $location.url();
      $scope.myUrl2 = $location.path();
      $scope.myUrl3 = $location.protocol();
      $scope.myUrl4 = $location.host();
      $scope.myUrl5 = $location.port();
      $scope.myUrl6 = $location.search();
      $scope.myUrl7 = $location.hash();
    });
////////////////////////////////////////////////////////////////////////////
    app.controller("http",function($scope,$http){
        $http.get("ajax.txt").then(function(response){
           $scope.myResponse = response.data;
        });
    });
////////////////////////////////////////////////////////////////////////////
    app.controller("timeOut",function($scope,$timeout){
      $scope.change="两秒后有惊喜哦";
        $timeout(function(){
          $scope.change = "哈哈，我变了！";
        },2000);
    });
/////////////////////////////////////////////////////////////////////////////
    app.controller("interval",function($scope,$interval){
      $scope.time = new Date().toLocaleTimeString();
        $interval(function(){
            $scope.time = new Date().toLocaleTimeString();
        },1000);
    });
////////////////////////////////////////////////////////////////////////////
    app.service("hexfy",function(){
      this.myFunc = function(x){
        return x.toString(16);
      }
    });
    app.filter('format',['hexfy',function(hexfy){
      return function(x){
        return hexfy.myFunc(x);
      };
    }]);
    app.controller("customize",function($scope,hexfy){
        $scope.hex = hexfy.myFunc(255);
        $scope.numbers = [255,251,200];
    });
////////////////////////////////////////////////////////////////////////////
    app.controller("watch",function($scope){
      $scope.firstName = "";
      $scope.lastName = "";
      $scope.$watch('firstName',function(){
        $scope.fullName = $scope.lastName + ' ' +$scope.firstName;
      });
      $scope.$watch('lastName',function(){
        $scope.fullName = $scope.lastName + ' ' +$scope.firstName;
      });
    });
  </script>
</body>
</html>
