.injectBar li{
	border:white 5px solid;
	list-style-type:circle;
	text-align: center;
	background-color: #f1f1f1;
	width:50px;
}
.injectBar{
	margin-left:5px;
	margin-top:4px;
	float:left;
	padding-right:50px;


}
.injectBar li a{
	
	display:block;
}
