/**
* @file 本css控制答案页面的样式
* @author 许琇婷
* @version v0.1
*/

/*答案部分*/
.answerContent img{
	left:381.52px;
	top:89.01px;
	width:197.97px;
	height:214.18px;
	position:fixed;
}

/*答案部分的三个选项设置*/

/*答案总结*/
#answer1 span{
	font-size:24px;
	color:#EA8F04;
	left:347px;
	top:339px;
	width:268px;
	height:24px;
	position:fixed;
}
#answer2 span{
	font-size:24px;
	color:#EA8F04;
	left:395px;
	top:339px;
	width:268px;
	height:24px;
	position:fixed;
}

#answer3 span{
	font-size:24px;
	color:#EA8F04;
	left:378px;
	top:339px;
	width:268px;
	height:24px;
	position:fixed;
}

/*答案解释*/
#answer1 p{
	font-size:20px;
	color:#878787;
	left:285px;
	top:397px;
	width:391px;
	height:48px;
	position:fixed;
}

#answer2 p{
	font-size:20px;
	color:#878787;
	left:285px;
	top:397px;
	width:391px;
	height:48px;
	position:fixed;
}

#answer3 p{
	font-size:20px;
	color:#878787;
	left:310px;
	top:397px;
	width:391px;
	height:48px;
	position:fixed;
}