/**
* @file 本css控制强迫症测试页面题目以及选项的样式
* @author 许琇婷
* @version v0.1
*/

/*test显示18道题的题目*/
#text{
	color:#EA8F04;
	font-size:26px;
	left:95px;
	top:132px;
	position:fixed;
	font-weight:bold;

}

/*选项部分*/
.options{
	left:280px;
	top:215px;
	width:400px;
	height:160px;
	position:fixed;
	font-weight:bold;
}

/*单个选项设置*/
.option{
	cursor:pointer;
	list-style-type:none;
}


.whiteBoard span{
	padding-left:20px;
}
.whiteBoard p{
	font-size:22px;
	width:338px;
}

/*选项末尾对号位置设置*/
#rightLogo0{
	left:640px;
	top:215px;
	width:20px;
	height:21px;
	position:fixed;
}
#rightLogo1{
	left:640px;
	top:286px;
	width:20px;
	height:21px;
	position:fixed;
}
#rightLogo2{
	left:640px;
	top:353px;
	width:20px;
	height:21px;
	position:fixed;
}


/*单个选项位置设置*/	
#option0 li{
	left:300px;
	top:215px;
	width:87px;
	height:24px;
	position:fixed;
}
#option1 li{
	left:300px;
	top:286px;
	width:127px;
	height:26px;
	position:fixed;
}
#option2 li{
	left:300px;
	top:353px;
	width:85px;
	height:22px;
	position:fixed;
}

/*选项块当中分割线的设置*/
.line1{
	top:242px;
	position:fixed;
}

.line2{
	top:310px;
	position:fixed;
}

