<ul class='navBar'>
    <li>
        <a ui-sref="home">首页</a>
    </li>
    <li>
        <a ui-sref="home.myInject" >依赖注入</a>
    </li>
    <li>
        <a ui-sref="home.myDirective">自定义指令</a>
    </li>
    <li>
        <a ui-sref="home.myBibind">双向绑定</a>
    </li>
    <li>
        <a ui-sref="home.myScope">scope</a>
    </li>
    <li>
        <a ui-sref="home.myFilter">过滤器</a>
    </li>
    <li>
        <a ui-sref="home.myValidation">表单校验</a>
    </li>
    <li>
        <a ui-sref="home.myAPI">angular API</a>
    </li>
    <li>
        <a ui-sref="home.myRouter">路由</a>
    </li>
</ul>