/**
* @file 本css控制家庭保障测试页面内所有按钮的样式
* @author 许琇婷
* @version v0.1
*/


/*按钮*/
.fiButtonPart{
	left:258px;
	top:471px;
	width:444px;
	height:48px;
	position:fixed;
	
}


/*上一题*/
.fiBtn1{
	left:258px;
	top:471px;
	width:144px;
	height:48px;
	position:fixed;
	cursor: pointer;
}

/*下一题*/
.fiBtn2{
	left:558px;
	top:471px;
	width:144px;
	height:48px;
	position:fixed;
	cursor: pointer;
}