#greyBoard{
	background-color:#FAFAFA;
	left:0px;
	top:48px;
	width:960px;
	height:562px;
	position:fixed;
}
#BHTopBar{
	background-color:white;
	font-size:22px;
	left:0px;
	top:48px;
	width:960px;
	height:50px;
	position:fixed;
	color:#EA8F04;
	text-align:center;
}
#BHContent{
	background-color:white;
	font-size:22px;
	left:10px;
	top:108px;
	width:940px;
	height:500px;
	position:fixed;
}