/**
* @file 本css控制家庭保障测试提示界面的样式
* @author 许琇婷
* @version v0.1
*/
/*#productProPage{
	left:280px;
	top:220px;
	width:400px;
	height:160px;
	position:fixed;
	color:#F56E25;
	
}*/

#hintMsg{
	left:350px;
	top:262px;
	width:446px;
	height:24px;
	position:fixed;
	color:#EA8F04;
}
#clockCounter{
	left:490px;
	top:316px;
	width:43.22px;
	height:22px;
	position:fixed;
	color:#EA8F04;
}