<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<h2>验证实例</h2>

<form ng-app="myApp"  ng-controller="validation" name="myForm" novalidate>

<p>用户名:<br>
<input type="text" name="user" ng-model="user.name" required>
<span style="color:red"  ng-show="myForm.user.$error.required">用户名是必须的。</span>
</p>

<p>邮箱:<br>
<input type="email" name="email" ng-model="user.email" required>
<span style="color:red" ng-show="myForm.email.$error.required">邮箱是必须的。</span>
<span style="color:red" ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
</p>

<p>
<button ng-click='reset()'>reset</button>
<input type="submit" ng-disabled="myForm.user.$error.required ||
myForm.email.$error.required || myForm.email.$error.email">
</p>

</form>

<script>
  var app = angular.module("myApp",[]);
  app.controller("validation",function($scope){
    $scope.master = {name:'xxt',email:'xuxiuting@126.com'};
    $scope.reset= function(){
      $scope.user = angular.copy($scope.master);
    }
    $scope.reset();
  });
</script>

</body>
</html>
