<html>
<head>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<meta charset="utf-8">
<title>angular select</title>
</head>
<body>
  <div ng-app="app">
    <div ng-controller="selRepeat">
      <select ng-model="selectedOption" ng-init="selectedOption=sites[0].site">
        <option ng-repeat="x in sites" value="{{x}}" >{{x.site}}</option>
      </select>

      <p>your option is: <span style="color:blue; text-decoration:underline">{{selectedOption}}</span></p>

      <select ng-model="carOption">
        <option ng-repeat="x in cars" value="{{x.color}}">{{x.brand}}</option>
      </select>

      <p>your choice is {{carOption}}</p>

    </div>
  </div>


<hr>


  <div id="option" ng-app="app2" ng-controller="selOption">
    <select ng-model="selected" ng-options="x.site for x in sites" ng-init="selected=sites[0].site"></select>

    <p>your option is: {{selected}}</p>


    <select ng-model="carSelect" ng-options="y.brand for (x,y) in cars"></select>

    <p>your option is: {{carSelect}}</p>
  </div>


  <script>
    var app = angular.module("app",[]);
    app.controller("selRepeat",['$scope',selRepeat]);
    function selRepeat($scope){
      $scope.sites=[
        {
          site:"Google",
          url:'http://google.com'
        },
        {
          site:'Baidu',
          url:'http://baidu.coom'
        },
        {
          site:'Taobao',
          url:'http://taobao.com'
        }
      ];
      //$scope.selectedOption = $scope.sites[2].url;

      $scope.cars = [
        {brand : "Ford", model : "Mustang", color : "red"},
        {brand : "Fiat", model : "500", color : "white"},
        {brand : "Volvo", model : "XC90", color : "black"}
      ];

      $scope.carOption = $scope.cars[2].color;
    }



    var app2 = angular.module("app2",[]);
    app2.controller("selOption",['$scope',selOption]);

    function selOption($scope){
      $scope.sites=[
        {
          site:"Google",
          url:'http://google.com'
        },
        {
          site:'Baidu',
          url:'http://baidu.coom'
        },
        {
          site:'Taobao',
          url:'http://taobao.com'
        }
      ];
      //$scope.selected = $scope.sites[2];

      $scope.cars = {
        car01 : {brand : "Ford", model : "Mustang", color : "red"},
        car02 : {brand : "Fiat", model : "500", color : "white"},
        car03 : {brand : "Volvo", model : "XC90", color : "black"}
      };
      $scope.carSelect = $scope.cars.car01;
    }


    angular.bootstrap(document.getElementById("option"),['app2']);

  </script>
</body>
</html>
