@charset "UTF-8";
/**
 * 
 * @author FanBoyi
 * @date    2017-07-06 20:44:06
 * @version $Id$
 */
		body{
			margin:0 auto;
			background-color: #fff;
			width:960px;
		}
		#Panel{
			position:relative;
			left:472px;
			top:143px;
			width:464px;
            height:362px;
            background-color:#ffa95e;
            border-radius:28px;
		}
		#inputPanel{
			position:absolute;
			left:4px;
			top:4px;
			width:456px;
			height:288px;
			background-color: #ffd2ab;
			border-radius:24px 24px 0px 0px;
		}
		#alphabetPanel{
			position:absolute;
			left:24px;
			top:24px;
		}
		#numberPanel{
            position:absolute;
            left:108px;
            top:14px;
		}
		#alphabet,#number{
			font-size: 24px;
			letter-spacing: 8px;
            width:228px;
            height: 64px;
            position:absolute;
			top:294px;
		}
		#alphabet{
            left:4px;
            border-bottom-left-radius:24px;
		}
		#number{
            left:232px;
            border-bottom-right-radius:24px;
		}
		#alphabet span{
            position: absolute;
            left:86px;
            top:21px;            
		}
		#number span{
			position: absolute;
            left:86px;
            top:21px;
		}
		.focus{
            color:#fff;
		}
		.blur{
            color:#ea5504;
            background-color: #ffd2ab;
		}
		#inputDiv{
			position: absolute;
			top:443px;
			left:80px;
		}
